open-cxf-service/src/main/view/META-INF/SrenewSer/META-INF/qryChgProdRsp.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:qryChgProdRsp="http://ws.chinaunicom.cn/SrenewSer/unibssBody/qryChgProdRsp" targetNamespace="http://ws.chinaunicom.cn/SrenewSer/unibssBody/qryChgProdRsp" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:element name="QRY_CHG_PROD_RSP"> 
    <xs:annotation> 
      <xs:documentation>无</xs:documentation> 
    </xs:annotation>  
    <xs:complexType> 
      <xs:sequence> 
        <xs:element name="RESP_CODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>应答码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="4"/>  
              <xs:minLength value="4"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="RESP_DESC" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>错误描述</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="500"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="PRODUCT_INFO" minOccurs="0" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>可变更产品信息</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="PRODUCT_ID" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>产品标识</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="8"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PRODUCT_NAME" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>产品名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PRODUCT_DESC" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>产品描述</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PRODUCT_MODE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>产品类型</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="1"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="DISCNT_INFO" minOccurs="1" maxOccurs="unbounded"> 
                <xs:annotation> 
                  <xs:documentation>资费信息</xs:documentation> 
                </xs:annotation>  
                <xs:complexType> 
                  <xs:sequence> 
                    <xs:element name="DISCNT_CODE" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>资费编码</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="8"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="DISCNT_NAME" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>资费名称</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="100"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="DISCNT_DESC" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>资费描述</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="200"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="DISCNT_FEE" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>资费</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="11"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="START_ENABLE" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>生效方式</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="1"/>  
                          <xs:minLength value="1"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="ACCESS_TYPE" minOccurs="0" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>接入方式名称</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="50"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="BRAND_SPEED" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>速率</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="10"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="BRAND_NUMBER" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>宽带包期的月份数</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="4"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="EXP_MODE" minOccurs="0" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>到期后停机/转包月</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="1"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="DISCNT_CODE_MONTH" minOccurs="0" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>到期后转包月资费编码</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="8"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="DISCNT_NAME_MONTH" minOccurs="0" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>到期后转包月资费名称</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="50"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="DISCNT_FEE_MONTH" minOccurs="0" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>到期后转包月资费</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="11"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element> 
                  </xs:sequence> 
                </xs:complexType> 
              </xs:element>  
              <xs:element name="PARA" minOccurs="0" maxOccurs="unbounded"> 
                <xs:annotation> 
                  <xs:documentation>保留字段</xs:documentation> 
                </xs:annotation>  
                <xs:complexType> 
                  <xs:sequence> 
                    <xs:element name="PARA_ID" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>保留字段ID</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="20"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="PARA_VALUE" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>保留字段值</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="60"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element> 
                  </xs:sequence> 
                </xs:complexType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>

