open-cxf-service/src/main/view/META-INF/SrenewSer/META-INF/qryChgProdReq.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:qryChgProdReq="http://ws.chinaunicom.cn/SrenewSer/unibssBody/qryChgProdReq" targetNamespace="http://ws.chinaunicom.cn/SrenewSer/unibssBody/qryChgProdReq" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:element name="QRY_CHG_PROD_REQ"> 
    <xs:annotation> 
      <xs:documentation>支持宽带单产品可变更产品查询；省分需要根据用户当前产品信息，返回用户可续费或变更的产品信息，如省分规则不允许用户的变更的产品，不在本接口中返回。可变更产品只涉及用户速率和宽带包期周期数变更，如4M变更为8M，1年期变更为2年期。如涉及用户接入方式变更的产品，不在本接口中返回</xs:documentation> 
    </xs:annotation>  
    <xs:complexType> 
      <xs:sequence> 
        <xs:element name="PROVINCE_CODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>省分编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="2"/>  
              <xs:minLength value="2"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="EPARCHY_CODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>地市编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="6"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="SERIAL_NUMBER" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>宽带编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="40"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="NET_TYPE_CODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>网别</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="40"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="PRODUCT_ID" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>产品编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="20"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="DISCNT_INFO" minOccurs="0" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>资费信息</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="DISCNT_CODE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>资费编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="20"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element>  
        <xs:element name="PARA" minOccurs="0" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>保留字段</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="PARA_ID" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>保留字段ID</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="20"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PARA_VALUE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>保留字段值</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="60"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>

