open-cxf-service/src/main/view/META-INF/SrenewSer/META-INF/SrenewSer.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.chinaunicom.cn/SrenewSer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:unibssBody="http://ws.chinaunicom.cn/SrenewSer/unibssBody" targetNamespace="http://ws.chinaunicom.cn/SrenewSer/" name="SrenewSer">  
  <wsdl:documentation>宽带趸交服务</wsdl:documentation>  
  <wsdl:types> 
    <xsd:schema xmlns:ns1="http://ws.chinaunicom.cn/SrenewSer/unibssBody" targetNamespace="http://ws.chinaunicom.cn/SrenewSer/">  
      <xsd:import schemaLocation="SrenewSchema.xsd" namespace="http://ws.chinaunicom.cn/SrenewSer/unibssBody"/> 
    </xsd:schema> 
  </wsdl:types>  
  <wsdl:message name="qryChgProdRequest"> 
    <wsdl:documentation>支持宽带单产品可变更产品查询；省分需要根据用户当前产品信息，返回用户可续费或变更的产品信息，如省分规则不允许用户的变更的产品，不在本接口中返回。可变更产品只涉及用户速率和宽带包期周期数变更，如4M变更为8M，1年期变更为2年期。如涉及用户接入方式变更的产品，不在本接口中返回</wsdl:documentation>  
    <wsdl:part name="parameters" element="unibssBody:QRY_CHG_PROD_INPUT"/> 
  </wsdl:message>  
  <wsdl:message name="qryChgProdResponse"> 
    <wsdl:documentation>无</wsdl:documentation>  
    <wsdl:part name="parameters" element="unibssBody:QRY_CHG_PROD_OUTPUT"/> 
  </wsdl:message>  
  <wsdl:message name="srenewTradeRequest"> 
    <wsdl:documentation>无</wsdl:documentation>  
    <wsdl:part name="parameters" element="unibssBody:SRENEW_TRADE_INPUT"/> 
  </wsdl:message>  
  <wsdl:message name="srenewTradeResponse"> 
    <wsdl:documentation>无</wsdl:documentation>  
    <wsdl:part name="parameters" element="unibssBody:SRENEW_TRADE_OUTPUT"/> 
  </wsdl:message>  
  <wsdl:message name="srenewSubRequest"> 
    <wsdl:documentation>无</wsdl:documentation>  
    <wsdl:part name="parameters" element="unibssBody:SRENEW_SUB_INPUT"/> 
  </wsdl:message>  
  <wsdl:message name="srenewSubResponse"> 
    <wsdl:documentation>无</wsdl:documentation>  
    <wsdl:part name="parameters" element="unibssBody:SRENEW_SUB_OUTPUT"/> 
  </wsdl:message>  
  <wsdl:portType name="SrenewSer"> 
    <wsdl:operation name="qryChgProd"> 
      <wsdl:input message="tns:qryChgProdRequest"/>  
      <wsdl:output message="tns:qryChgProdResponse"/> 
    </wsdl:operation>  
    <wsdl:operation name="srenewTrade"> 
      <wsdl:input message="tns:srenewTradeRequest"/>  
      <wsdl:output message="tns:srenewTradeResponse"/> 
    </wsdl:operation>  
    <wsdl:operation name="srenewSub"> 
      <wsdl:input message="tns:srenewSubRequest"/>  
      <wsdl:output message="tns:srenewSubResponse"/> 
    </wsdl:operation> 
  </wsdl:portType>  
  <wsdl:binding name="SrenewSerSOAP" type="tns:SrenewSer"> 
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>  
    <wsdl:operation name="qryChgProd"> 
      <wsdl:documentation>用户可变更产品查询</wsdl:documentation>  
      <soap:operation soapAction="http://ws.chinaunicom.cn/SrenewSer/qryChgProd/"/>  
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation>  
    <wsdl:operation name="srenewTrade"> 
      <wsdl:documentation>宽带趸交预提交</wsdl:documentation>  
      <soap:operation soapAction="http://ws.chinaunicom.cn/SrenewSer/srenewTrade/"/>  
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation>  
    <wsdl:operation name="srenewSub"> 
      <wsdl:documentation>宽带趸交正式提交</wsdl:documentation>  
      <soap:operation soapAction="http://ws.chinaunicom.cn/SrenewSer/srenewSub/"/>  
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding>  
  <wsdl:service name="SrenewSer"> 
    <wsdl:documentation>宽带趸交服务</wsdl:documentation>  
    <wsdl:port name="SrenewSerSOAP" binding="tns:SrenewSerSOAP"> 
      <soap:address location="http://ws.chinaunicom.cn/"/> 
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions>

