open-cxf-service/src/main/view/META-INF/SrenewSer/META-INF/srenewTradeRsp.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:srenewTradeRsp="http://ws.chinaunicom.cn/SrenewSer/unibssBody/srenewTradeRsp" targetNamespace="http://ws.chinaunicom.cn/SrenewSer/unibssBody/srenewTradeRsp" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:element name="SRENEW_TRADE_RSP"> 
    <xs:annotation> 
      <xs:documentation>无</xs:documentation> 
    </xs:annotation>  
    <xs:complexType> 
      <xs:sequence> 
        <xs:element name="RESP_CODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>应答码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="4"/>  
              <xs:minLength value="4"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="RESP_DESC" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>错误描述</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="500"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="RESP_INFO" minOccurs="0" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>应答信息</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="TRADE_ID" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>流水号</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="16"/>  
                    <xs:minLength value="16"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="SUBSCRIBE_ID" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>订单号</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="16"/>  
                    <xs:minLength value="16"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="OPERATE_TYPE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>操作类型</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="1"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="FEE_MODE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>费用种类</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="FEE_TYPE_CODE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>费用科目编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="8"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="FEE_TYPE_NAME" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>费用科目名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PAY_TAG" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>收费标志</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="OLDFEE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>金额</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="11"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="FEE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>应收金额</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="11"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PARA" minOccurs="0" maxOccurs="unbounded"> 
                <xs:annotation> 
                  <xs:documentation>保留字段</xs:documentation> 
                </xs:annotation>  
                <xs:complexType> 
                  <xs:sequence> 
                    <xs:element name="PARA_ID" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>保留字段ID</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="20"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="PARA_VALUE" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>保留字段值</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="60"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element> 
                  </xs:sequence> 
                </xs:complexType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>

