open-cxf-service/src/main/view/META-INF/SrenewSer/META-INF/srenewSubRsp.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:srenewSubRsp="http://ws.chinaunicom.cn/SrenewSer/unibssBody/srenewSubRsp" targetNamespace="http://ws.chinaunicom.cn/SrenewSer/unibssBody/srenewSubRsp" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:element name="SRENEW_SUB_RSP"> 
    <xs:annotation> 
      <xs:documentation>无</xs:documentation> 
    </xs:annotation>  
    <xs:complexType> 
      <xs:sequence> 
        <xs:element name="RESP_CODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>应答码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="4"/>  
              <xs:minLength value="4"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="RESP_DESC" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>错误描述</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="500"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="PARA" minOccurs="0" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>保留字段</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="PARA_ID" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>保留字段ID</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="20"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PARA_VALUE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>保留字段值</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="60"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>

