open-cxf-service/src/main/view/META-INF/SrenewSer/META-INF/srenewSubReq.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:srenewSubReq="http://ws.chinaunicom.cn/SrenewSer/unibssBody/srenewSubReq" targetNamespace="http://ws.chinaunicom.cn/SrenewSer/unibssBody/srenewSubReq" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:element name="SRENEW_SUB_REQ"> 
    <xs:annotation> 
      <xs:documentation>无</xs:documentation> 
    </xs:annotation>  
    <xs:complexType> 
      <xs:sequence> 
        <xs:element name="OPER_ID" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>操作工号</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="20"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="CHANNEL_ID" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>操作部门</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="20"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="PROVINCE_CODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>省份编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="2"/>  
              <xs:minLength value="2"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="EPARCHY_CODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>地市编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="6"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="TRADE_ID" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>流水号</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="16"/>  
              <xs:minLength value="16"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="SUBSCRIBE_ID" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>订单号</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="16"/>  
              <xs:minLength value="16"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="ACCEPT_DATE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>受理时间</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="14"/>  
              <xs:minLength value="14"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="FEE_INFO" minOccurs="1" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>费用信息</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="OPERATE_TYPE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>操作类型</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="1"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="FEE_MODE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>费用种类</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="1"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="FEE_TYPE_CODE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>费用科目编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="8"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="FEE_TYPE_NAME" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>费用科目名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="OLD_FEE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>金额</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="11"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="DERATE_FEE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>减免金额</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="11"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="DERATE_REMARK" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>减免原因</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="FEE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>实收金额</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="11"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PAY_TAG" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>收费方式</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="1"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CALCULATE_TAG" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>手工算费标记</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="1"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CALCULATE_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>算费流水</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="30"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CALCULATE_DATE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>算费时间</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="14"/>  
                    <xs:minLength value="14"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element>  
        <xs:element name="PAY_INFO" minOccurs="1" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>支付信息</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="PAY_TYPE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>支付方式</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="2"/>  
                    <xs:minLength value="2"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PAY_MONEY" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>支付金额</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="11"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="TOTAL_FEE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>实收总金额</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="11"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element>  
        <xs:element name="PARA" minOccurs="0" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>保留字段</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="PARA_ID" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>保留字段ID</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="20"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PARA_VALUE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>保留字段值</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="60"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>

